<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>蚕食智能生活服务</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href="/static/css/pc-common.css" rel="stylesheet">
  <link href="/static/css/jedate.css" rel="stylesheet">
  <link href="/static/css/pc-app.css" rel="stylesheet">
  <link href="/static/css/sweetalert.css" rel="stylesheet">
  <script src="/static/js/jquery-1.11.1.min.js"></script>
  <script type="text/javascript" src="/static/js/vue.js"></script>
  <script src="/static/js/store.legacy.min.js"></script>
  <script type="text/javascript" src="/static/js/tools.js"></script>
</head>
<body>
<div class="index_head clear">
  <div class="head_login">
    <div class="login_content">
      <dl>
        <dt><img src="/static/images/logo-title.png" alt="专注品质,从心开始,服务大众,共享价值"></dt>
        <dd><a class="c757575" href="./index.html">返回首页</a></dd>
        <dd><a class="c757575" href="./register.html">注册</a></dd>
        <dd><a class="c757575" href="./login.html">登录</a></dd>
      </dl>
    </div>
  </div>
</div>
