<link rel="import" href="/wx/components/common/header.html?__inline">
<div class="password" id="forget" v-cloak>
  <div class="set">
    <div class="set-on color-1">设置密码</div>
    <img src="/wx/static/images/back.png" class="setback" @click="back">
  </div>
  <div class="info-form">
    <div class="list-item">
      <span class="style-h font-3">新密码</span>
      <input type="password" placeholder="请输入新密码" v-model="password" class="style-p font-3">
    </div>
    <div class="list-item">
      <span class="style-h font-3">确认密码</span>
      <input type="password" placeholder="请再次输入新密码" v-model="password_second" class="style-p font-3">
    </div>
  </div>
  <div class="sure" @click="submit">确定</div>
</div>
<script>
  new Vue({
    el: '#forget',
    data: {
      password: '',
      password_second: ''
    },
    methods: {
      submit: function () {
        if (this.password.length < 6) {
          tools.alert('密码长度不能小于六位', 'warning');
          return
        }
        if (this.password_second != this.password) {
          tools.alert('前后密码不一致', 'warning');
          return
        }
        http.post('user-center/set-password', {
          password: this.password,
          type: tools.isWeChatBroswer() ? 25 : 20
        }, function () {
          tools.confirm('密码设置成功', 'success', false, function () {
            tools.goBack();
          });
        })
      },
      back: function () {
        tools.goBack();
      }
    }
  })
</script>
