<link rel="import" href="/wx/components/common/header.html?__inline">
<div class="password" id="forget" v-cloak>
  <link rel="import" href="/wx/components/common/common-nav.html?__inline">
  <div class="info-form">
    <div class="list-item">
      <span class="style-h font-3">手机号</span>
      <input type="tel" placeholder="请输入手机号" v-model="phone" class="style-p font-3">
    </div>
    <!--<div class="list-item">-->
    <!--<span class="style-h font-3">图片验证码</span>-->
    <!--<input type="text" placeholder="图片验证码" v-model="imgCode" class="style-p font-3" style="width: 3rem">-->
    <!--<div class="code"><img :src="img" @click="pushCode"></div>-->
    <!--</div>-->
    <div class="list-item">
      <span class="style-h font-3">验证码</span>
      <input type="number" placeholder="请输入6位短信验证码" v-model="code" class="style-p font-3">
      <div class="yan" @click="sendCode">{{ sendSmsTime > 0 ? sendSmsTime : '发送验证码' }}</div>
    </div>
    <div class="list-item">
      <span class="style-h font-3">新密码</span>
      <input type="password" placeholder="请输入新密码" v-model="password" class="style-p font-3">
    </div>
    <!--<div class="list-item">-->
    <!--<span class="style-h font-3">确认密码</span>-->
    <!--<input type="password" placeholder="请再次输入新密码" v-model="password_second" class="style-p font-3">-->
    <!--</div>-->
  </div>
  <div class="sure" @click="submit">确定</div>
</div>
<script>
  var vm = new Vue({
    el: '#forget',
    data: {
      navTitle: '忘记密码',
      phone: '',
      code: '',
      password: '',
      password_second: '',
      imgCode: '',
      img: '',
      uuid: '',
      sendSmsTime: 0
    },
    methods: {
      sendCode: function () {
        if (!this.phone) {
          tools.alert('手机号不能为空');
          return
        }
        if (!/^1[0-9][0-9]{9}$/.test(this.phone)) {
          tools.alert('手机号格式不正确');
          return
        }
        /*if (!this.imgCode) {
         tools.alert('图片验证码不能为空');
         return
         }*/
        if (this.sendSmsTime <= 0) {
          http.post('login/fast-send-sms', {
            cellphone: this.phone,
            image_code: this.imgCode,
            uuid: this.uuid
          }, function (data) {
            vm.sendSmsTime = 60;
            vm.sendSmsInterval = setInterval(function () {
              vm.sendSmsTime--;
              if (vm.sendSmsTime <= 0) {
                clearInterval(vm.sendSmsInterval);
              }
            }, 1000);
            tools.alert(data, 'success');
          })
        }
      },
      pushCode: function () {
        var num = this.getUuid();
        this.uuid = num;
        this.img = http.baseUrl + 'captcha/get?uuid=' + num;
      },
      submit: function () {
        if (!this.phone) {
          tools.alert('手机号不能为空');
          return
        }
        if (!/^1[0-9][0-9]{9}$/.test(this.phone)) {
          tools.alert('手机号格式不正确');
          return
        }
        if (!this.password) {
          tools.alert('密码不能为空');
          return
        }
        if (this.password.length < 6) {
          tools.alert('密码长度不能小于六位', 'warning');
          return
        }
        /*if (this.password_second != this.password) {
         tools.alert('前后密码不一致', 'warning');
         return
         }*/
        http.post('login/back-password', {
          cellphone: this.phone,
          password: this.password,
          verifyCode: this.code,
          type: tools.isWeChatBroswer() ? 25 : 20
        }, function () {
          tools.confirm('密码修改成功', 'success', false, function () {
            tools.goBack();
          });
        })
      },
      back: function () {
        tools.goBack();
      },
      getUuid: function () {
        return Date.parse(new Date());
      }
    },
    created: function () {
      var num = this.getUuid();
      this.uuid = num;
      this.img = http.baseUrl + 'captcha/get?uuid=' + num;
    }
  })
</script>
